@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-bg-dark: #2a1b18;
        /* Dark brown */
        --color-text-primary: #ffffff;
        --color-text-secondary: #d1d5db;
        --color-accent: #00b4d8;
    }

    body {
        background-color: var(--color-bg-dark);
        color: var(--color-text-primary);
        font-family: system-ui, -apple-system, sans-serif;
    }
}