@import "tailwindcss";

@theme {
    --font-inter: 'Inter', sans-serif;
    --color-brand-blue: #0ea5e9;
}

@layer base {
    body {
        font-family: var(--font-inter);
        @apply text-gray-800 antialiased bg-white;
    }
}

html {
    scroll-behavior: smooth;
}